---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Data. Ai. Strategy.</h1>
			<p>
				Ens<b>ai</b>mble is an agile data and ai consultancy specialising in helping
				companies make better decisions. We think every SME and corparate should be able to use their data and hidden knowledge
				to adopt their strategy and succeed in competition. By applying ai techniques to data and knowledge we distill options that
				are actionable and measurable - the management can make the right decisions at the right time.
			</p>
			<h2>Who we are</h2>
			<p>
				We are a duo of experienced data and strategy professionals with a background in the financial industry and university research.
				MORE TEXT TO BE ADDED HERE. 
			</p>
			<h2>How it works</h2>
			<p>We get started by listening to your unique needs and challenges - whatever this is.</p>
			<ol>
				<li>Let's <b>clarify your needs</b> in an initial call</li>
				<li>We will <b>make a proposal</b> on how we can help you</li>
				<li>Our <b>first iteration</b> gives you concrete results to <b>act further</b>.</li>
				<li>You decide <b>what to do next</b>. Either you make a strategic decision or request a next iteration</li>
			</ol>
			<h2>Get in touch</h2>
			<p>
				Here we need a call to action button or something else. Maybe a contact form?
			</p>
		</main>
		<Footer />
	</body>
</html>
